body {
  background-color: black;
  color: #eee;
}

.container {
  display: grid;
  grid-gap: 10px;
  min-height: 100vh;
}

.center-horizontally-vertically {
  display: grid;
  place-items: center;
}

.center-content {
  display: grid;
  place-items: center;
  grid-gap: 10px;
}

h1 {
  font-size: 10vh;
  color: #eee;
}

ul {
  max-width: 60%;
}

p,
li {
  font-size: 3vh;
  color: #eee;
}

li {
  margin-bottom: 2vh;
}

img {
  margin: 2vh;
}

.left {
  display: grid;
  grid-template-rows: 15% 1fr;
}

.left-content {
  display: grid;
  grid-template-rows: 15% 1fr;
}
