/* Note: Keep these styles in sync with slide-preview.css, until I have a better solution. */

body {
  background-color: black;
  color: #eee;
}

.container {
  display: grid;
  min-height: 100vh;
}

h1 {
  font-size: 10vh;
  color: #eee;
}

ul {
  max-width: 60%;
  margin: 50px;
}

p,
li {
  font-size: 3vh;
  color: #eee;
}

li {
  margin-bottom: 2vh;
}

img {
  margin: 2vh;
}

/* VerticalAlignCenter component */
.center {
  display: grid;
  place-items: center;
}

.center-content {
  display: grid;
  place-items: center;
  grid-gap: 10px;
}

/* VerticalAlignTop component */
.top {
  display: grid;
}

/* Center component */
.content-align-center {
  display: grid;
  place-items: center;
}

/* Left component */
.content-align-left {
  display: grid;
  place-items: start;
}
